
body {
   text-align: center;
}
.h1 {
    font-size: 100px;
}
.h2 {
    font-size: 100px;
}
.h3 {
    font-size: 100px;
}
.p1 {
    font-size: 50px;
}
.p2 {
    font-size: 50px;
}
.p3 {
    font-size: 50px;
}
.p4 {
    font-size: 50px;
}
.p5 {
    font-size: 50px;
}
.p6 {
    font-size: 50px;
}
.p7 {
    font-size: 50px;
}
.p8 {
    font-size: 50px;

}
.p9 {
    font-size: 50px;
}
.p10 {
    font-size: 50px;
}
.a1 {
    font-size: 50px;
    }
    .a2 {
    font-size: 50px;
    }
    .a3 {
    font-size: 50px;
    }